*.log
wordpress/wp-config.php
wordpress/wp-config-sample.php
wordpress/.htaccess
wordpress-develop/wp-config.php
wordpress-develop/wp-config-sample.php
wordpress-develop/.htaccess
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

wordpress-develop/

db_data/
db_data_dev/
db_data_test/

*.swp
